src/Course.css

.card {
  max-width: 200px; /* Adjusted in App.css */
  margin: auto;  
}

.card-body {
  padding: 15px;
}

.card-text {
  margin-top: 10px; 
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.selected-courses {
  margin-top: 20px;
}
